.kakao {
  display: inline-flex;   
  align-items: center;     
  gap: 8px;                
  padding: 10px 20px;
  border-radius: 12px;
  font-family: 'Cafe24SsurroundAir', sans-serif;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid  #414A56;
}

.icon {
  width: 21px;
  height: 21px;
}
