.container {
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-y: auto;
}
